In [33]:
import pandas as pd
import numpy as np

visits = pd.read_csv('visits.csv', names=['username', 'experiment', 'date', 'device', 'variation', 'success'])

In [34]:
visits.head()

    username  experiment                 date   device variation  success
0  michael91  button_clr  2018-09-24 02:21:15  desktop   control    False
1  michael91  button_clr  2018-09-24 07:26:34   mobile   control    False
2  michael91  button_clr  2018-09-24 22:06:30  desktop   control     True
3  michael91  button_clr  2018-09-25 23:18:21   mobile   control    False
4  michael91  button_clr  2018-09-26 03:45:05   mobile   control    False

In [63]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62789 entries, 0 to 62788
Data columns (total 6 columns):
username      62789 non-null object
experiment    62789 non-null object
date          62789 non-null object
device        62789 non-null object
variation     62789 non-null object
success       62789 non-null bool
dtypes: bool(1), object(5)
memory usage: 2.5+ MB

In [53]:
summary_stats = visits.groupby('variation').agg({'success': ['count', 'mean', 'sum']}).xs(key='success', axis=1)

In [56]:
summary_stats.rename(columns={'sum': 'num_success'}, inplace=True)
summary_stats.head()

           count      mean  num_success
variation
control    36728  0.090367       3319.0
variation  26061  0.114808       2992.0

In [58]:
pooled_rate = summary_stats['num_success'].sum() / summary_stats['count'].sum()
pooled_rate

0.10051123604453009

In [59]:
std_var = pooled_rate*(1-pooled_rate)*(1/summary_stats['count'].values).sum()

In [60]:
std_err = np.sqrt(std_var)

In [61]:
difference = summary_stats.loc['control', 'mean'] - summary_stats.loc['variation', 'mean']
difference

-0.024440544427162078

In [62]:
z = difference/std_err
z

-10.03594083622265